<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

	<body>
	<div class="container">
			<header th:replace="fragments :: header"></header>
			<nav th:replace="fragments :: navigationVersion2"></nav>
			
			
	

	<article>
		<div align="center">
		
			<p><img th:src="@{/images/totes_face.jpg}" src="../images/totes_face.jpg" alt="Totes ma Goat"
				width="600" height="375" align="middle"/>
			<br/>
			</p>
			
			<p>
			Your entry has been saved to the Guest book! Thanks for the entry. Please click the 
			back arrow to return.
			</p>
			
			<p>
			<a href="/guestbook"><img th:src="@{/images/Larrow.gif}" src="../images/Larrow.gif" 
				width="40" height="25" alt="home"/></a>
			</p>
		
		</div>
		<hr/>
	</article>
	
<!-- start of footer -->
 <footer th:replace="fragments :: footer"></footer>
	
	</div>
    </body>
</html>