body {
	padding-top: 5rem;
	color: #000000;
	background-color: #5faee5;
}

.starter-template {
	padding: 3rem 1.5rem;
	text-align: center;
}
footer {
	border-radius: 20px;
	font-size: 10px;
	color: #ffffff;
	background-color: #000000;
	clear: left;
	width: 350px;
    margin: auto;
	text-align: center;
}

article {
    padding: 1em;
    overflow: hidden;
    margin: 150px;
}

div.container {
    width: 100%;
}

div.container2 {
	left-margin:200px;
	text-align: center;
	align: center;
    max-width: 550px;
}