nav {
	height: 55px;
}
body {
	padding-top: 10px;
	color: #000000;
	background-color: #5faee5;
}
header {
    color: #000000;
    background-color: #000000;
    clear: left;
    text-align: center;
}
footer {
	border-radius: 20px;
	font-size: 10px;
	color: #ffffff;
	background-color: #000000;
	clear: left;
	width: 350px;
    margin: auto;
	text-align: center;
}
article {
    overflow: hidden;
    margin-left: 15%;
    margin-right: 15%;
}

span.tutorialName {
	font-size: 16px;
}

div.container {
    width: 100%;
}

div.container2 {
	margin-left:20%;
	margin-right:20%;
	text-align: center;
	align: center;
}
div.container3 {
	text-align: center;
	align: center;
    margin-right:20%;
	margin-left: 20%;
}
div.container4 {
	text-align: center;
	align: center;
	margin-right: 80%;
}
img.banner {
	max-width: 100%;
	height: auto;
}
