body {
	color: #000000;
    background-color: #5faee5;
}

div.container {
    width: 100%;
    border: 1px solid gray;
}

div.container2 {
    max-width: 550px;
}
.carouselExampleControls {
    max-width: 500px;
    margin: 200px;
}

header {
    color: #000000;
    background-color: #000000;
    clear: left;
    text-align: center;
}

footer {
	border-radius: 20px;
	font-size: 10px;
	color: #ffffff;
	background-color: #000000;
	clear: left;
	width: 350px;
    margin: auto;
	text-align: center;
}

input[type=submit] {
    background-color: #000000;
    border-radius: 12px;
    color: #cc0000;
    padding: 6px 6px;
    text-align: center;
    font-size: 14px;
}

nav {
   background-color: #5faee5;
   color: #000000;
   float: left;
   max-width: 160px;
   margin: 0;
   padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: #5faee5;
}

nav ul a {
   text-decoration: none;
}

nav li a {
	
	background-color: #6f0378; /* purple */
    display: block;
    border-radius: 3px;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
nav li a:hover {
    background-color: #555;
    color: white;
}

input[type=text] {
    border: 2px solid red;
    border-radius: 4px;
}

input[type=password] {
    border: 2px solid red;
    border-radius: 4px;
}

article {
   margin-left: 170px;
   border-left: 1px solid gray;
   padding: 1em;
   overflow: hidden;
}