<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

	<title>Jason's Web Page</title>
	<meta http-equiv="Content-Type" context="text/html; charset=UTF-8"/>
	<link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet"/>
	<link href="../static/css/normalize.css" th:href="@{css/normalize.css}" rel="stylesheet"/>
	
</head>

     <body>
    
    <div align="center">
	<img th:src="@{/images/kevin_coding.jpg}" src="../images/kevin_coding.jpg" 
	height="400" width="525" alt="kevin the destructive cat"/>
	</div>
	
		<br/>
		<div align="center">
		<a href="/index"><img th:src="@{/images/Larrow.gif}" src="../images/Larrow.gif" 
		width="40" height="25" alt="home"/></a>
		</div>
		
    <div align="center" >
        <h1>Blue's database managment system</h1>
        
        <p>This is an application for managing a MySQL database, or many. Right now it is in its first stages. 
        Still it is quite powerful. It allows the user to login to any host and view any database or table as 
        long as the credentials are correct. <br/><br/>
        Cycle through entries to view the current status of the table and execute SQL statements as needed. Then 
        simply click refresh and it will reload the table to see the executed statements effect.<br/><br/>
        Also the user has the option of creating new databases and tables or deleteing them. Simply enter a name 
        for a new database and click create, or enter a SQL statement for the table and click create. Currently you
        can also drop tables through the create table button.<br/><br/>
        
        Here is a link to the source code, <a href="https://github.com/blue2525989/Database_managment">GitHub</a>
        <br/><br/>
        </p>
        <br/><br/>
        <img th:src="@{/images/main.jpg}" src="../images/main.jpg" 
		height="600" width="485" alt="Blue's database managment system"/>
		
		<br/><br/>
        <p>
        This is my database managment system. I use this program to edit and maintain the databases I use 
        in test projects. The first image is of the main user interface where you can choose to either 
        view and edit any table in any database at any host (as long as you know the credentials) or choose 
        to make a brand new database or table.
        </p>
        
        <br/><br/>
        <div align="center">
        <img th:src="@{/images/edit01.jpg}" src="../images/edit01.jpg" 
		height="600" width="485" alt="Blue's database managment system"/>
		</div>
		<br/><br/>
        
        On the view interface, a user must first log in to the database they want to edit. 
        Next they are free to click through each entry and execute SQL statements as needed.
        <br/><br/>
        <img th:src="@{/images/edit02.jpg}" src="../images/edit02.jpg" 
		height="600" width="485" alt="Blue's database managment system"/>
		<br/><br/>
		Cycle through the database viewing entries.
		<br/><br/>
        <img th:src="@{/images/edit03.jpg}" src="../images/edit03.jpg" 
		height="600" width="485" alt="Blue's database managment system"/>
		<br/><br/>
		Execute SQL statements to affect the tables and then click the refresh button to see the 
		changed results.
		<br/><br/>
        <img th:src="@{/images/edit04.jpg}" src="../images/edit04.jpg" 
		height="600" width="485" alt="Blue's database managment system"/>
		<br/><br/>
		 The results of the executed statement are now visible.
		 
        
        
        <br/><br/>     
        <img th:src="@{/images/create01.jpg}" src="../images/create01.jpg" 
		height="600" width="485" alt="Blue's database managment system"/>
		<br/><br/>
		
        <p>Also users are able to create new databases and tables at will. Simply goto the 
        create interface and enter the name of what you what in the field or a SQL statement 
        for tables. Deleting a database is also avaiable on the view. 
		</p>
		
	</div>
    </body>
</html>