<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
    
      <body>
		<div class="container">
		
	<nav th:replace="fragments :: navigationVersion2"></nav>
    
			
			
			<article>
			<hr />
        
		
        <form action="/createUser/add" method="get">        
       		<div class="form-group row">
			  <label class="col-3 col-form-label">Username must be 4-16 characters</label>
			  <div class="col-6">
			    <input class="form-control" type="text" placeholder="username" name="username" />
			  </div>
			</div>
			<div class="form-group row">
			  <label class="col-3 col-form-label">Password must be 4-16 characters</label>
			  <div class="col-6">
			    <input class="form-control" type="text" placeholder="password" name="password" />
			  </div>
			</div>
             <button type="submit" class="btn btn-success">Create User</button> 
        </form>        
        
        <div align="center">
        <p>Once you have new username and password go ahead and sign in <br />
        <a href="/login">
        <button type="button" class="btn btn-success">SIGN IN HERE</button></a> 
        </p>
        </div>
        <hr />
         </article>
         
         <!-- start of footer -->
		 <footer>
		     <!-- picture of my goat. -->
		     <img height="225" width="350" alt="Totes ma goats" src="/images/totes_face.jpg" />
		     <!-- paragraph tag with class tag for style.css -->
		     <p class="footer">Written by: Jason Bierbrauer</p>
		     <p class="footer">Contact information: <a href="mailto:jbierbrauer99@gmail.com">
		         jbierbrauer99@gmail.com</a>.</p>
		     <p class="footer">
		         <!-- the special character -->
		          Jason Bierbrauer, 2017
		     </p>
		</footer>
        
        
        </div>
    </body>
</html>