<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

	<body>
	<div class="container">
			<header th:replace="fragments :: header"></header>
			<nav th:replace="fragments :: navigationVersion2"></nav>
			
			
			
			<article>
			<hr />
        <!-- error for username/password -->
		<h2 th:if="${session.error != null}" 
		th:text="${session.error}"></h2>
		
        <form action="/createUser/add" method="get">        
       		<div class="form-group row">
			  <label class="col-3 col-form-label">Username must be 4-16 characters</label>
			  <div class="col-6">
			    <input class="form-control" type="text" placeholder="username" name="username" />
			  </div>
			</div>
			<div class="form-group row">
			  <label class="col-3 col-form-label">Password must be 4-16 characters</label>
			  <div class="col-6">
			    <input class="form-control" type="text" placeholder="password" name="password" />
			  </div>
			</div>
             <button type="submit" class="btn btn-success">Create User</button> 
        </form>        
        
        <div align="center">
        <p>Once you have new username and password go ahead and sign in <br />
        <a href="/login">
        <button type="button" class="btn btn-success">SIGN IN HERE</button></a> 
        </p>
        </div>
        <hr />
         </article>
         
         <!-- start of footer -->
 <footer th:replace="fragments :: footer"></footer>
	
	</div>
    </body>
</html>