<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Oops!</title>
		<link rel="stylesheet" th:href="@{/style.css}"></link>
		</head>

		<body class="errorBody">
		<h1>Opps!</h1>
		<a href="/index.html">back home</a><br><br>
		<p>I wish I could add some funny images to this page, but currently I have to store these
		 html file in a seprate folder away from my images folder.</p>
		 

		</body>

</html>
