<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

	<title>Jason's Web Page</title>
	<meta http-equiv="Content-Type" context="text/html; charset=UTF-8"/>
	<link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet"/>
	<link href="../static/css/normalize.css" th:href="@{css/normalize.css}" rel="stylesheet"/>
	
</head>
    
     <body bgcolor="#0080ff" text="#400000">
     
     <div align="center">
	 <img th:src="@{/images/kevin_coding.jpg}" src="../images/kevin_coding.jpg" 
	 height="400" width="525" alt="kevin the destructive cat"/>
	 </div>
	    
    <div align="center">
        <h1 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h1>
        
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        
        <p>Welcome to the website! If you have made it this far, that means you have successfully logged in. Please click here  
        for the <a href="/index">Main Page</a></p>.
        

        </div> 

		<!-- start of footer -->
		 <footer>
		     <!-- picture of my goat. -->
		     <img th:src="@{/images/totes_face.jpg}" height="225" width="350" alt="Totes ma goats"
		     src="../images/totes_face.jpg"/>
		     <!-- paragraph tag with class tag for style.css -->
		     <p class="footer">Written by: Jason Bierbrauer</p>
		     <p class="footer">Contact information: <a href="mailto:jbierbrauer99@gmail.com">
		         jbierbrauer99@gmail.com</a>.</p>
		     <p class="footer">
		         <!-- the special character -->
		          Jason Bierbrauer, 2017
		     </p>
		</footer>
		
    </body>
</html>