<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

	<title>Jason's Web Page</title>
	<meta http-equiv="Content-Type" context="text/html; charset=UTF-8"/>
	<link href="../static/css/style2.css" th:href="@{css/style2.css}" rel="stylesheet"/>
	<link href="../static/css/normalize.css" th:href="@{css/normalize.css}" rel="stylesheet"/>
	
</head>
    
     <body>
		<div class="container">
		
		<header> <h1 class="security">Welcome!</h1></header>
		<div align="center">
        		<img th:src="@{/images/goaterror.jpg}" src="../images/goaterror.jpg"
				width="450" height="350" alt="Crazy goat from the internet"/>
				</div>
		
		
	<nav>
				<hr/>
				<label>Places to go,</label>
				<ul>
				<li><a href="/home">Home</a></li>
				<li><a href="/login">Login/Logout</a></li>
				<li><a href="/createlogin">Create Login</a></li>
				</ul>
				<hr/>
			</nav>
    
    <article>
    <hr/>
    
    <div align="center" >

       
        
        <p>Welcome to my website! This is my first dynamic web application. The purpose of this site is 
        mainly to practice my Java and Spring skills in a live setting. I am hosting live on Amazon web services 
        for free. 
        </p>
        
        <p>To access the contents of this website, which I assure you are incredibly entertaining to say the 
        least, you will have to create a username and password.<br/><br/>
        
        This is a simple process that only takes seconds and requires only a choice of username and password, no 
        personal information is required.<br/><br/>
        
        The username and password are enabled to showcase the abilities of the Spring Security framework for Java. 
        Every username and password is stored in a database for use when you return to check out all the awesome 
        goat pictures.
        </p>
        
        <p>If you already have a login username and password, please click <em>Login</em>.</p>
        
        <p><strong><a th:href="@{/hello}">Login</a></strong> 
        </p>
        
        <p>Else if you do not have an account, feel free to create one!</p>
        
        <!-- http://sample-env.hpjxmc8myy.us-west-2.elasticbeanstalk.com/ -->
        
        <p> <strong>
        <a class="security" href="/createlogin">Create Login</a>       
        </strong>
		</p>
		<hr/>
	</div>
	
	</article>
	<!-- start of footer -->
	 <footer>
	     <!-- picture of my goat. -->
	     <img th:src="@{/images/totes_face.jpg}" height="225" width="350" alt="Totes ma goats"
	     src="../images/totes_face.jpg"/>
	     <!-- paragraph tag with class tag for style.css -->
	     <p class="footer">Written by: Jason Bierbrauer</p>
	     <p class="footer">Contact information: <a href="mailto:jbierbrauer99@gmail.com">
	         jbierbrauer99@gmail.com</a>.</p>
	     <p class="footer">
	         <!-- the special character -->
	          Jason Bierbrauer, 2017
	     </p>
	</footer>
	
	</div>
    </body>
</html>