<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Jason's Web Page</title>
        
   <style type="text/css">
        h1 {font-family: arial; font: 24px; color: darkgreen; border: 2px ridge #ff8000;}
        body{width: 350px; height: 200px; margin: auto; padding : 200px; font: 16px;}
        div{align: center;}
        a{align: center; color: #ff8080;}
        </style>
    </head>
    
     <body bgcolor="#0080ff" text="#400000">
    
    <div align="center" >
        <h1>Welcome!</h1>
        
        <p>If you already have a login username and password, please click <em>Login</em>.</p>
        
        <p><strong><a th:href="@{/hello}">Login</a></strong> 
        </p>
        
        <p>Else if you do not have an account, feel free to create one!</p>
        
        <p> <strong>
        <a href="http://sample-env.hpjxmc8myy.us-west-2.elasticbeanstalk.com/">Create Login</a>       
        </strong>
		</p>
		
	</div>
    </body>
</html>