<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

	<title>Jason's Web Page</title>
	<meta http-equiv="Content-Type" context="text/html; charset=UTF-8"/>
	<link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet"/>
	<link href="../static/css/normalize.css" th:href="@{cdd/normalize.css}" rel="stylesheet"/>
	
</head>
    
     <body bgcolor="#0080ff" text="#400000">
    
    <div align="center" >
        <h1>Welcome!</h1>
        
        <p>If you already have a login username and password, please click <em>Login</em>.</p>
        
        <p><strong><a th:href="@{/hello}">Login</a></strong> 
        </p>
        
        <p>Else if you do not have an account, feel free to create one!</p>
        
        <p> <strong>
        <a href="http://sample-env.hpjxmc8myy.us-west-2.elasticbeanstalk.com/">Create Login</a>       
        </strong>
		</p>
		
	</div>
    </body>
</html>