<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

	<title>Jason's Web Page</title>
	<meta http-equiv="Content-Type" context="text/html; charset=UTF-8"/>
	<link href="../static/css/style2.css" th:href="@{css/style2.css}" rel="stylesheet"/>
	<link href="../static/css/normalize.css" th:href="@{css/normalize.css}" rel="stylesheet"/>
	
</head>

     
<body class="indexBody">
<div class="container">

<header>
<h1>Jason's webpage... Welcome, please feel free to look around.</h1>
</header>

	<div align="center">
	<img th:src="@{/images/kevin_coding.jpg}" src="../images/kevin_coding.jpg" 
	height="400" width="525" alt="kevin the destructive cat"/>
	</div>

	<nav>
		<hr/>
		<label>Places to go,</label>
		<ul>
		<li><a href="/hobbies">Hobbies</a></li>
		<li><a href="/th-math">Calculator</a></li>
		<li><a href="/textfun">Messing around with words</a></li>
		</ul>
		<label>Leave your mark,</label>
		<ul>
		<li><a href="/guestbook">Guestbook</a></li>
		<li><a href="/allmessages">Message Board</a></li>
		</ul>
		<label>Projects,</label>
		<ul>
		<li><a href="/blueDB">Blue's database management</a></li>
		<li><a href="/poker">Card games</a></li>
		</ul>
		<hr/>
	</nav>
	

<article>
	<hr/>
	<h1 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h1>
	<hr/>
	
	
	<p>Welcome to my homepage. This is built using the Spring Boot framework for Java.
	
	</p>
	
	
	<p>
	On this page I hope to show off some of my programming skills. I love Java programming and similar
	 languages. I have tried Python and a little c++. 
	 I hope to be a software engineer in the near future. 
	 I really enjoy solving problems and writing software that people enjoy. Writing applications that involve 
	 databases are becoming my favorite. The ability to organize data so effectivly is impressive. I do enjoy 
	 writing standalone applications, but I see how important web applications are in todays buisness world and 
	 enjoy that side as well.
	</p>
	
	<p>Working on the back-end on the server side is where I want to be. The solving of hard logic problems is 
	more enjoyable to me then trying to make things attractive. I enjoy linux and using that as an 
	operating system, and from my understanding that is the os of choice for servers. 
	</p>
		
	<p>This page mainly consists of Java programming. I used the Spring boot framework along with Thymeleaf and
	 used Gradle to build this application. Also a MySQL server has been used to make a login page as well as a 
	guestbook for users to fill out.
	</p>
	
	<h2>Updates to site:</h2>
	
	<p>April, 3rd, Today I was reading about css styling and decided to update the look and feel of my web site. 
	I spend a lot of hours staring at the computer screen so I went with a freindly dark theme. It is much easier 
	on the eyes after a days of binge programming.
	</p>
	
	<p>April 2nd, I finially figured out how to configure my security to allow my create user function to be 
	built into this current application. Before it was a self contained application with access to the database.
	</p>
	
	<p>March 31st, Added a basic message board. The messages are saved in the database. Just enter your name and 
	a brief message and click submit.
	</p>
	
	<p>March 29th, The create login page has been slimmed down, before you had to clcik through two pages and login 
	with a basic level username just to create your own. I have reconfigured the security to allow for creation of 
	new users without being logged in with a base account.<br/><br/>
	
	I have added more style and content to the home page, hello page and login page. Mainly a new 
	background image and different font colors. Also I have added the footer at the bottom of each of these pages. 
	</p>

	<p>March 25th, Added more of a user freindly interaction by implementing thymeleaf and return variables from 
	my plain old Java objects. The 'calculator' and 'fun with text' page now return the results on the same view 
	instead of just return plain Strings with the answers.
	</p>
	
	<p>March 22nd, Figued out how to use more then just the spring security pages with Thymeleaf templating engine. 
	Now I can make the pages much more interactive.
	</p>
	
	
	<p>If you would like to view the source code for this or any of my other projects, please follow this 
	link to my <a href="https://github.com/blue2525989">GitHub</a> account. There are a lot more projects 
	to view.
	</p>
	<hr/>

</article>


<!-- start of footer -->
 <footer>
     <!-- picture of my goat. -->
     <img th:src="@{/images/totes_face.jpg}" height="225" width="350" alt="Totes ma goats"
     src="../images/totes_face.jpg"/>
     <!-- paragraph tag with class tag for style.css -->
     <p class="footer">Written by: Jason Bierbrauer</p>
     <p class="footer">Contact information: <a href="mailto:jbierbrauer99@gmail.com">
         jbierbrauer99@gmail.com</a>.</p>
     <p class="footer">
         <!-- the special character -->
          Jason Bierbrauer, 2017
     </p>
</footer>

</div>
</body>

</html>
