<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

	<body>
	<div class="container">
	
		<header>
			<div align="center">
			<img src="/images/space01.jpg" height="400" width="600" />
			</div>
		</header>
	
	
			<nav th:replace="fragments :: navigation"></nav>
	

<article>
	<hr />
	
		<div th:if="${session.adminrole == true}" align="center">
			<a href="/adminpage">Back to ADMIN page</a>
		</div>	
	
	<h1 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h1>
	<hr />
	
	<p th:if="${session.adminrole == true}">
	If you are seeing this paragraph it is because your user level is set to ADMIN.
	Congratulations, you have full access to this web-site. Be responsible and don't delete anything 
	to important. 
	</p>	
	
	<hr />
	
	<p>
	Welcome to my homepage. This is built using the Spring Boot framework for Java. This paragraph is being 
	displayed because your Spring Security level is set to regualar user. You have acceses to the everyday 
	excitement of this site.	
	</p>
	
	
	<p>
	On this page I hope to show off some of my programming skills. I love Java programming and similar
	 languages. I have tried Python and a little C &amp; C++. 
	 I hope to be a software engineer in the near future. 
	 I really enjoy solving problems and writing software that people enjoy. Writing applications that involve 
	 databases are becoming my favorite. The ability to organize data is impressive. I do enjoy 
	 writing stand alone applications, but I see how important web applications are in todays business world and 
	 enjoy that side as well.
	</p>
	
	<p>Working on the back-end on the server side is where I want to be. The solving of hard logic problems is 
	more enjoyable to me then trying to make things attractive. I enjoy linux and using that as an 
	operating system, and from my understanding that is the os of choice for servers. 
	</p>
		
	<p>This page mainly consists of Java programming. I used the Spring boot framework along with Thymeleaf and
	 used Gradle to build this application. Also a MySQL server has been used to make a login page as well as a 
	guestbook for users to fill out.
	</p>
	
	<h2>Updates to site:</h2>
		<hr />
	
			<div th:unless="${#lists.isEmpty(updates)}">
				<dl th:each="update : ${updates}">
				<dt>
				<label>Date:</label>
				<span th:text="${update.date}">#</span><br/>
				<label>Update:</label>
				<span th:text="${update.content}">Update</span><br/>
				<hr/>
				</dt>
				</dl>
			</div>
			
			<div th:if="${#lists.isEmpty(updates)}">
				<p>You have no current updates...</p>
			</div>
			
			

	<hr />

</article>


<!-- start of footer -->
 <footer>
     <!-- picture of my goat. -->
     <img height="225" width="350" alt="Totes ma goats" src="/images/totes_face.jpg" />
     <!-- paragraph tag with class tag for style.css -->
     <p class="footer">Written by: Jason Bierbrauer</p>
     <p class="footer">Contact information: <a href="mailto:jbierbrauer99@gmail.com">
         jbierbrauer99@gmail.com</a>.</p>
     <p class="footer">
         <!-- the special character -->
          Jason Bierbrauer, 2017
     </p>
</footer>

</div>
</body>

</html>
