<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

	<title>Jason's Web Page</title>
	<meta http-equiv="Content-Type" context="text/html; charset=UTF-8"/>
	<link href="../static/css/style2.css" th:href="@{css/style2.css}" rel="stylesheet"/>
	<link href="../static/css/normalize.css" th:href="@{css/normalize.css}" rel="stylesheet"/>
	
</head>
    
    <body>
		<div class="container">
	
				<header><h1 class="security">Login</h1></header> 
				<div align="center">
        		<img th:src="@{/images/goaterror.jpg}" src="../images/goaterror.jpg"
				width="450" height="350" alt="Crazy goat from the internet"/>
				</div>
				
			<!-- Make sure this menu stays with home, login, saved -->
			<nav>
				<hr/>
				<label>Places to go,</label>
				<ul>
				<li><a href="/home">Home</a></li>
				<li><a href="/login">Login/Logout</a></li>
				<li><a href="/createlogin">Create Login</a></li>
				</ul>
				<hr/>
			</nav>
    
    <article>
    <hr/>
    <div th:if="${#httpServletRequest.remoteUser != null}">
    		<p>If you need to sign out click here.
    		</p>
            <form th:action="@{/logout}" method="post">
    	        <input type="submit" value="Sign Out"/>
 	        </form>
 	        </div>
    
          
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        
        <div>
		
        <div th:if="${#httpServletRequest.remoteUser == null}">
        <p>
        Please enter your username and password. Then click <em>Sign In</em> to continue.
        </p>
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username" /> </label></div>
            <div><label> Password: <input type="password" name="password" /> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
        </div>
        </div>
        <hr/>
        </article>
        <!-- start of footer -->
		 <footer>
		     <!-- picture of my goat. -->
		     <img th:src="@{/images/totes_face.jpg}" height="225" width="350" alt="Totes ma goats"
		     src="../images/totes_face.jpg"/>
		     <!-- paragraph tag with class tag for style.css -->
		     <p class="footer">Written by: Jason Bierbrauer</p>
		     <p class="footer">Contact information: <a href="mailto:jbierbrauer99@gmail.com">
		         jbierbrauer99@gmail.com</a>.</p>
		     <p class="footer">
		         <!-- the special character -->
		          Jason Bierbrauer, 2017
		     </p>
		</footer>
        </div>
    </body>
</html>