<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
    
      <body>
		<div class="container">
		
		<header>
			<div align="center">
			<img src="/images/space01.jpg" height="400" width="600" />
			</div>
		</header>
		
		
	<nav th:replace="fragments :: navigationPrelogin"></nav>
    
			
			<!-- this is where all your main content goes -->
			<article>
			<hr/>
			
			<div th:if="${session.adminrole == true}" align="center">
			<a href="/adminpage">Back to ADMIN page</a></div>
			
			<div align="center">
			<h1 th:inline="text">[[${session.saved}]]</h1>
			</div>
			
			<hr/>
			</article>

	
<!-- start of footer -->
 <footer>
     <!-- picture of my goat. -->
     <img th:src="@{/images/totes_face.jpg}" height="225" width="350" alt="Totes ma goats"
     src="../images/totes_face.jpg"/>
     <!-- paragraph tag with class tag for style.css -->
     <p class="footer">Written by: Jason Bierbrauer</p>
     <p class="footer">Contact information: <a href="mailto:jbierbrauer99@gmail.com">
         jbierbrauer99@gmail.com</a>.</p>
     <p class="footer">
         <!-- the special character -->
          Jason Bierbrauer, 2017
     </p>
</footer>

	</div>
	</body>

</html>