<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

	<title>Jason's Web Page</title>
	<meta http-equiv="Content-Type" context="text/html; charset=UTF-8"/>
	<link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet"/>
	<link href="../static/css/normalize.css" th:href="@{css/normalize.css}" rel="stylesheet"/>
	
</head>

	<body>
	
			
		
	// saves the update to the repositry
	@GetMapping(path="/addUpdate")
	// request params to save
	public String addUpdate (@RequestParam String message, HttpSession session) {
			
	// this adds current date and time to a session attribute
	Calendar date = Calendar.getInstance();
	TimeZone timezone = date.getTimeZone();
	Calendar date2 = Calendar.getInstance(timezone);
	Date curDate = date2.getTime();
	String current = curDate.toString();
	
	 
	 // this adds the list of updates to index
	List<UpdateMessages> updateList = updatelog.findAll();
	if (updateList != null) {
		session.setAttribute("updates", updateList);
	}	
			
	// new instance of guest
	UpdateMessages n = new UpdateMessages();
	n.setUpdate(message);
	n.setDate(current);
	updatelog.save(n);
			
	String saved = "The update has been added to the main page.";
	session.setAttribute("saved", saved);
			
		return "redirect:/saved3";
	}
	
		
		<div th:unless="${#lists.isEmpty(updates)}">
			<dl th:each="update : ${updates}">
			<dt>
			<label>Date:</label>
			<span th:text="${update.date}">#</span><br/>
			<label>Update:</label>
			<span th:text="${update.message}">Update</span><br/>
			</dt>
			</dl>
		</div>
			
			
			<div th:if="${#lists.isEmpty(updates)}">
			<p>You have no messages in your message list</p>
			</div>
			
			
		<h2>Your Reading List</h2>
		
		<div th:unless="${#lists.isEmpty(books)}">
		<dl th:each="book : ${books}">
		<dt class="bookHeadline">
		<span th:text="${book.title}">Title</span> by
		<span th:text="${book.author}">Author</span>
		(ISBN: <span th:text="${book.isbn}">ISBN</span>)
		</dt>
		
		<dd class="bookDescription">
		<span th:if="${book.description}"
		th:text="${book.description}">Description</span>
		<span th:if="${book.description eq null}">
		No description available</span>
		</dd>
		</dl>
		</div>
		
		
		<div th:if="${#lists.isEmpty(messages)}">
		<p>You have no books in your book list</p>
		</div>
		
		<hr/>
		
		<h3>Add a Message</h3>
		
		<form method="POST">
		
		<label for="name">Name:</label>
		<input type="text" name="name" size="50"></input><br/>
		
		<label for="message">Message:</label><br/>
		<textarea name="message" cols="80" rows="5">
		</textarea><br/>
		<input type="submit"></input>
		</form>
		
	</body>
</html>