<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

	<title>Jason's Web Page</title>
	<meta http-equiv="Content-Type" context="text/html; charset=UTF-8"/>
	<link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet"/>
	<link href="../static/css/normalize.css" th:href="@{css/normalize.css}" rel="stylesheet"/>
	
</head>

<body>

<h1>Fun with text</h1><br/>

		<div align="center">
		<img th:src="@{/images/java-code01.jpg}" src="../images/java-code01.jpg" 
		width="550" height="375" alt="java code" align="middle"/>
		<br/>
		
		<a href="/index"><img th:src="@{/images/Larrow.gif}" src="../images/Larrow.gif" 
		width="40" height="25" alt="home"/></a>
		
		</div>
				
	<div class="funPages">	
			
		<br/>
		<!-- Enter Values to go with messages, different forms for each. -->
		<h2>Message to Array</h2>	
		<h3>Enter a message:</h3>
    <form action="#" th:action="@{/toArray}" th:object="${greeting}" method="post">
        <label>Message: </label>
        <textarea name="message" th:field="*{content}" style="height: 100px; width: 400px;">
        </textarea>
        
       <!--  <input type="text" th:field="*{content}" size="120"/><br/> -->
        <input type="submit" value="Submit" />
    </form>
        
    <p th:text="'content: ' + ${greeting.content2}" />
    
    
    
		
		<!-- Enter Values to go with messages, different forms for each. -->
		<h2>Message to Array and select an element</h2>	
		<h3>Enter a message:</h3>
		    <form action="#" th:action="@{/toArrayFindElement}" th:object="${greeting}" method="post">
		    	<label>Id:</label> <input type="text" th:field="*{id2}" /><br/>
		        <label>Message:</label> 
		        <textarea name="message" th:field="*{content}" style="height: 100px; width: 400px;">
        		</textarea>
		        <input type="submit" value="Submit" />
		    </form>
    
     <p th:text="'id: ' + ${greeting.id2}" />
    <p th:text="'content: ' + ${greeting.content3}" />
		
		
		
		<!-- Enter Values to go with messages, different forms for each. -->	
		<h2>Reverse message to Array:</h2>
		<h3>Enter a message:</h3>
			    <form action="#" th:action="@{/toArrayReverse}" th:object="${greeting}" method="post">
			        <label>Message:</label>
					<textarea name="message" th:field="*{content}" style="height: 100px; width: 400px;">
        			</textarea>
			        <input type="submit" value="Submit" />
			    </form>
    
    <p th:text="'content: ' + ${greeting.content4}" />
		
		
		
		<!-- Enter Values to go with messages, different forms for each. -->	
		<h2>Replace a character in a String:</h2>
		<h3>Enter a message:</h3>
		<form action="#" th:action="@{/replace}" th:object="${greeting}" method="post">
			        <label>Message:</label> 
					<textarea name="message" th:field="*{content}" style="height: 100px; width: 400px;">
					        </textarea>
			        <label>Old char:</label> <input type="text" th:field="*{content98}" size="20"/><br/>
			        <label>New char:</label> <input type="text" th:field="*{content99}" size="20"/><br/>
			        <input type="submit" value="Submit" />
			    </form>
    
    <p th:text="'content: ' + ${greeting.content5}" />
		
		
		
		<!-- Enter Values to go with messages, different forms for each. -->
		<h2>Reverse String</h2>	
		<h3>Enter a message:</h3>
		<form action="#" th:action="@{/reverseString}" th:object="${greeting}" method="post">
			        <label>Message:</label> 
					<textarea name="message" th:field="*{content}" style="height: 100px; width: 400px;">
        			</textarea>
			        <input type="submit" value="Submit" />
			    </form>
    
    <p th:text="'content: ' + ${greeting.content6}" />
		
		
		
		<!-- Enter Values to go with messages, different forms for each. -->
		<h2>is Palidrome</h2>	
		<h3>Enter a message:</h3>
		<form action="#" th:action="@{/isPalidrome}" th:object="${greeting}" method="post">
			        <label>Message:</label>
					<textarea name="message" th:field="*{content}" style="height: 100px; width: 400px;">
        			</textarea>
			        <input type="submit" value="Submit" />
			    </form>
    
    <p th:text="'content: ' + ${greeting.content7}" />
		
		
		
		<!-- Enter Values to go with messages, different forms for each. -->
		<h2>Repeat a message.</h2>	
		<h3>Enter a message:</h3>
		<form action="#" th:action="@{/repeatMessage}" th:object="${greeting}" method="post">
		    	<label>Id:</label> <input type="text" th:field="*{id3}" /><br/>
		        <label>Message:</label>
				<textarea name="message" th:field="*{content}" style="height: 100px; width: 400px;">
        		</textarea>
		        <input type="submit" value="Submit" />
		    </form>
    
     <p th:text="'id: ' + ${greeting.id3}" />
    <p th:text="'content: ' + ${greeting.content8}" />
</div>



<!-- start of footer -->
 <footer>
     <!-- picture of my goat. -->
     <img th:src="@{/images/totes_face.jpg}" height="225" width="350" alt="Totes ma goats"
     src="../images/totes_face.jpg"/>
     <!-- paragraph tag with class tag for style.css -->
     <p class="footer">Written by: Jason Bierbrauer</p>
     <p class="footer">Contact information: <a href="mailto:jbierbrauer99@gmail.com">
         jbierbrauer99@gmail.com</a>.</p>
     <p class="footer">
         <!-- the special character -->
          Jason Bierbrauer, 2017
     </p>
</footer>

</body>
</html>