<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

	<body>
	<div class="container">
			<header th:replace="fragments :: header"></header>
			<nav th:replace="fragments :: navigationVersion2"></nav>
			
			
	<article>

	<hr th:if="${#httpServletRequest.remoteUser != null}" />
	<h1 th:if="${#httpServletRequest.remoteUser != null}" 
		th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h1>
	<hr th:if="${#httpServletRequest.remoteUser != null}" />
	
			<div th:if="${session.adminrole == true}" align="center">
			<a href="/adminpage">Back to ADMIN page</a></div>
	
			
			<div align="center">
			<h2>Tutorials</h2><br/>
			</div>
			
			<div th:unless="${#lists.isEmpty(tutorials)}">
			<div th:each="tutorial : ${tutorials}">
			
			<label>Tutorial Topic: </label>
			<a th:href="@{/view-tutorial?id=} + ${tutorial.id}">
			<span th:text="${tutorial.name}">Name</span></a>
			
			</div>
			</div>
			
			
			<div th:if="${#lists.isEmpty(tutorials)}">
			<p>You have no tutorials in your tutorials list</p>
			</div>
			
			<hr th:if="${session.adminrole == true}"/>
			<a th:if="${session.adminrole == true}" 
			   th:href="@{/tutorial-add}">New Tutorial</a>
			<hr/>

</article>

	
<!-- start of footer -->
 <footer>
     <!-- picture of my goat. -->
     <img th:src="@{/images/totes_face.jpg}" height="225" width="350" alt="Totes ma goats"
     src="../images/totes_face.jpg"/>
     <!-- paragraph tag with class tag for style.css -->
     <p class="footer">Written by: Jason Bierbrauer</p>
     <p class="footer">Contact information: <a href="mailto:jbierbrauer99@gmail.com">
         jbierbrauer99@gmail.com</a>.</p>
     <p class="footer">
         <!-- the special character -->
          Jason Bierbrauer, 2017
     </p>
</footer>

	</div>	
	</body>

</html>