<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

	<body>
	<div class="container">
			<header th:replace="fragments :: header"></header>
			<nav th:replace="fragments :: navigationVersion2"></nav>
			
	<article class="messageView">

	<hr th:if="${#httpServletRequest.remoteUser != null}" />
	<h1 th:if="${#httpServletRequest.remoteUser != null}" 
		th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h1>
	<hr th:if="${#httpServletRequest.remoteUser != null}" />
	
			<div th:if="${session.adminrole == true}" align="center">
			<a href="/adminpage">Back to ADMIN page</a></div>
	
			<h2>Tutorials</h2><br/>
			<div align="center">
			<a href="/alltutorials">Back to Tutorials</a>
			</div>
			
			<div th:unless="${#lists.isEmpty(tutorials)}">
			<dl th:each="tutorial : ${tutorials}">
			<dt>
			<span class="tutorialName" th:text="${tutorial.name}">Name</span><br/><br/>
			
			<span th:if="${tutorial.block1 != null}"
			 	  th:utext="${tutorial.block1}">block content</span><br/><br/>
			</dt>
			</dl>
			</div>
			
			<!--  end -->
						
			<div th:if="${#lists.isEmpty(tutorials)}">
			<p>The current tutorial could not be found, please try again.</p>
			</div>
			
			<hr/>

</article>

<!-- start of footer -->
 <footer th:replace="fragments :: footer"></footer>
	
	</div>
    </body>
</html>