<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

	<body>
	<div class="container">
			<header th:replace="fragments :: header"></header>
			<nav th:replace="fragments :: navigationVersion2"></nav>
	
				
				<article>
<hr />


<!-- Enter Values to go with messages, different forms for each. -->
<h2>Enter you info into the Person Book</h2>

<form action="/add" method="GET">	
			<div class="form-group row">
			  <label class="col-2 col-form-label">ID</label>
			  <div class="col-6">
			    <input class="form-control" type="text" name="id" />
			  </div>
			</div>
			<div class="form-group row">
			  <label class="col-2 col-form-label">Name</label>
			  <div class="col-6">
			    <input class="form-control" type="text" name="name" />
			  </div>
			</div>
			<div class="form-group row">
			  <label class="col-2 col-form-label">Gender</label>
			  <div class="col-6">
			    <input class="form-control" type="text" name="gender" />
			  </div>
			</div>
			<div class="form-group row">
			  <label class="col-2 col-form-label">Age</label>
			  <div class="col-6">
			    <input class="form-control" type="text" name="age" />
			  </div>
			</div>
			<div class="form-group">
			    <label for="exampleTextarea">Description</label>
			    <textarea class="form-control" name="description" rows="3"></textarea>
			  </div>
			<div class="form-group row">
			  <label class="col-2 col-form-label">Occupation</label>
			  <div class="col-6">
			    <input class="form-control" type="text" name="occupation" />
			  </div>
			</div>
			<div class="form-group">
			    <label>Hobbies</label>
			    <textarea class="form-control" name="hobbies" rows="3"></textarea>
			  </div>
  
	
			<button type="submit" class="btn btn-success">Sign Guestbook</button> 
			<br />
		</form><br /><br />


<!-- Enter Values to go with messages, different forms for each. -->	
<h2>List all</h2>

<form action="/all" method="GET">	
	<h3>Click this button to see all entries saved in the Guestbook.</h3>
	<button type="submit" class="btn btn-success">List all</button> <br />
</form>
<br /><br />

<!-- Enter Values to go with messages, different forms for each. -->	
<h2>Find entry based on ID number</h2><br />please note that when searching for an ID, they are 
not always saved with the number entered above. Sometimes the database places them in the next 
avaiable spot. You can always check the correct ID number by clickng list all
    <form action="/find" method="GET">
    	<div class="form-group row">
			  <label class="col-2 col-form-label">ID</label>
			  <div class="col-6">
			    <input class="form-control" type="text" name="id" size="10" />
			  </div>
			</div>
        <button type="submit" class="btn btn-success">Find</button> 
    </form>


<hr />
</article>

<!-- start of footer -->
<div align="center">
 <footer>
     <!-- picture of my goat. -->
     <img height="225" width="350" alt="Totes ma goats" src="/images/totes_face.jpg" />
     <!-- paragraph tag with class tag for style.css -->
     <p class="footer">Written by: Jason Bierbrauer</p>
     <p class="footer">Contact information: <a href="mailto:jbierbrauer99@gmail.com">
         jbierbrauer99@gmail.com</a>.</p>
     <p class="footer">
         <!-- the special character -->
          Jason Bierbrauer, 2017
     </p>
</footer>
</div>
</div>

</body>
</html>